.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    position: absolute;
    top: 125px;
    width: auto;
    font-size: 70px;
}

.alice-carousel__next-btn {
   right: 0
}
.alice-carousel__wrapper
{
    height: 400px;
}